// @import 'historic-view';

$white:           #FFFFFF;
$black:           #000000;

$dashboard_2:     #F3F3F3;
$dashboard_4:     #F0EFEF;
$dashboard_9:     #DFDFDF;
$dashboard_11:    #D5D5D5;
$dashboard_14:    #C4C4C4;
$dashboard_15:    #BCBEC0;
$dashboard_18:    #AFB0AF;
$dashboard_20:    #989A9A;
$dashboard_23:    #707171;
$dashboard_25:    #5F6062;
$dashboard_27:    #343434;
$dashboard_29:    #0E2026;
$dashboard_30:    #00141B;
$dashboard_47:    #6F7F86;
$dashboard_49:    #769AA6;
$dashboard_56:    #596C70;
$dashboard_64:    #1F3137;
$dashboard_65:    #122B33;
$dashboard_69:    #9EE2FC;
$dashboard_73:    #48B5DA;
$dashboard_77:    #28A1C8;
$dashboard_79:    #028CB9;
$dashboard_90:    #1994BE;
$dashboard_92:    #36BCC2;
$dashboard_100:   #255F73;
$dashboard_101:   #3F7D92;
$dashboard_106:   #7DB951;
$dashboard_113:   #FCF1AB;
$dashboard_125:   #ED5F80;
$dashboard_126:   #EE4347;
$dashboard_129:   #E21954;
$dashboard_133:   #8F394D;
$dashboard_137:   #232323;

*                                       {
  @include box-sizing();
  margin:0px; padding:0px; border:none; outline:none; text-decoration:none; list-style-type:none; list-style-position:outside; vertical-align:top; border-collapse:collapse; resize:none; background:none;
}

.radio                      { position:relative; display:inline-block; color:inherit; cursor:pointer;
  input                     { display:none; }

  .label                    { display:inline-block; margin:0px;
    &:before, &:after       { @include drop-shadow(0, 1px, 2px, $dashboard_18); @include border-radius(100%, 100%, 100%, 100%); content:""; display:inline-block; position:relative; width:14px; height:14px; background:$white; }
  }

  &:hover                   {
    .label                  { color:$dashboard_79; }
  }

  &.checked                 {
    .label                  { display:inline-block; margin:0px;
      &:before, &:after     { width:8px; height:8px; border:3px solid white; background:$dashboard_73; }
    }
  }

  // radio bottom
  &.radio-bottom            { width:100%; text-align:center;
    .label                  { width:100%;
      &:before              { display:none; }
      &:after               { display:block; position:relative; bottom:-5px; margin:0 auto; }
    }
  }
}

$panel_left_width:  175px;
$panel_right_width: 800px;
@mixin panel_left_defaults          { min-width:$panel_left_width; width:$panel_left_width; max-width:$panel_left_width; }
@mixin panel_right_defaults         { min-width:$panel_right_width; width:$panel_right_width; max-width:$panel_right_width; }

#app-logs                           {

  // checked styles
  .checked                          {pointer-events:none;
    .label                          {color:$dashboard_79;}
    .icon svg *                     {stroke:$dashboard_79;}
  }

  //
  table.log-display                   {
    & > *                             {display:inline-table;}


    // 
    #status                           {@include align("horizontal"); @include font-size(13px); display:none; z-index:1; position:absolute; top:150px; padding:5px 10px; text-align:center; background:$dashboard_64;}
    #status:before                    {content:""; color:$dashboard_73;}
    &.api-failed             #status  {display:inline-block; &:before {/*@include animation('pulsate 1.2s infinite');*/ display:block; content:"Unable to communicate with the nanobox api, please try again."; color:$dashboard_129;}}
    &.communication-error    #status  {display:inline-block; &:before {/*@include animation('pulsate 1.2s infinite');*/ display:block; content:"The nanobox api failed unexpectedly, give us a minute and try again."; color:$dashboard_129;}}
    &.connecting-live        #status  {display:inline-block; &:before {/*@include animation('pulsate 1.2s infinite');*/ display:block; content:"Connecting Live Stream...";}}
    &.awaiting-data          #status  {display:inline-block; &:before {/*@include animation('pulsate 1.2s infinite');*/ display:block; content:"Connected! Listening for your app to log something..."; color:$dashboard_106;}}
    &.retrieving-history-log #status  {display:inline-block; &:before {/*@include animation('pulsate 1.2s infinite');*/ display:block; content:"Retrieving Historical Data...";}}
    &.loading-records        #status  {display:inline-block; &:before {/*@include animation('pulsate 1.2s infinite');*/ display:block; content:"Loading Records...";}}
    &.no-historic            #status  {display:inline-block; &:before {/*@include animation("slowFadeOut 3s forwards");*/ display:block; content:'No Historical Data Found...'; color:$dashboard_113;}}

    td                                {position:relative;}

    thead                             {@include font-size(15px);
      tr                              {

        //
        td.placeholder                {@include panel_left_defaults;}

        //
        &.logs-panel                  {
          td:not(.placeholder)        {@include panel_right_defaults; display:flex; align-items:center; margin:25px 0px; color:$dashboard_23;
            .radio                    {@include font-size(14px); flex:0 1 20%; color:$dashboard_20; border-right:1px solid $dashboard_11;
              .icon                   {margin-bottom:8px;}
              &:hover                 {.label {color:$dashboard_73;} .icon svg * {stroke: $dashboard_73;}}
            }
            .description              {@include font-size(14px, 22px); flex:0 1 60%; padding:10px 20px;}
          }
        }

        //
        &.log-panel                   {
          td:not(.placeholder)        {@include panel_right_defaults; padding:8px; height:33px; background:$white;
            // .radio                  { margin-right:18px; }

            .input                    {display:flex; align-items:center; width:75%; float:left; margin:0px; padding:0px;
              svg                     {margin-right:5px; transform:scale(0.8);
                path                  {fill:$dashboard_79;}
              }
              input                   {@include font-size(13px); display:inline-block; width:90%; padding:0px; background:$white;}
            }

            #view-more                {@include font-size(12px); position:relative; float:right; padding:2px; cursor:pointer; color:$dashboard_49;
              &:before                {content:"View More";}
              &.loading               {pointer-events:none; &:before {content:"Loading...";}}
              &.empty                 {display:none;}
            }

            #follow-log               {@include font-size(12px); position:relative; float:right; padding:2px; cursor:pointer; color:$dashboard_49;
              &:before                {display:inline-block; float:right; color:$dashboard_49; text-align:center;}
              // &:after               { @include pagodacons(bold, '\25C9'); @include font-size(68px); display:inline-block; float:right; margin-right:8px; line-height:5px; color:$dashboard_49;  }
              &:hover               {
                &:before, &:after   { color:$dashboard_73; }
              }

              &.locked              {
                &:before            { content:'Follow Log'; }
                &:after             { @include border-radius(50%, 50%, 50%, 50%); background:none; }
                &.active            {
                  &:before, &:after { color:$dashboard_125; }
                }
              }

              &.following           { padding:0px; position:fixed; top:8px;
                &:before            { content:''; display:none; }
                &:after             { @include border-radius(50%, 50%, 50%, 50%); width:25px; height:25px; line-height:12px; color:$dashboard_29; background:$dashboard_56; }

                &:hover             { @include border-radius(50px, 50px, 50px, 50px); padding:5px; color:$dashboard_133; background:$dashboard_125;
                  &:before          { content:'Follow Log'; display:inline-block; margin:0px 8px; color:$dashboard_113; }
                  &:after           { width:initial; height:initial; line-height:5px; background:none; color:$dashboard_133; }
                }

                &.active            {
                  &:before          { }
                  &:after           { background:$dashboard_125; color:$dashboard_133; }

                  &:hover           { color:$dashboard_29; background:$dashboard_56;
                    &:before        { content:'Unfollow'; color:$dashboard_29;}
                    &:after         { background:none; color:$dashboard_29;}
                  }
                }
              }
            }
          }
        }
      }
    }

    //
    tbody                           {min-height:400px;
      tr                            {
        td                          {border:none;
          &:first-child             {@include panel_left_defaults; padding:15px 0px; background:$dashboard_29;
            .entries                {width:100%; margin:0px;
              .entry                {@include font-size(11px); display:flex; justify-content:space-between; width:100%; padding:0px 15px; line-height:15px;}
            }
          }
          &:last-child              {@include panel_right_defaults; padding:15px 0px; background:$dashboard_64; overflow-x:scroll; overflow-y:hidden;
            .messages               {width:100%; margin:0px; color:$dashboard_92; letter-spacing:0.5px;
              .message              {@include font-size(11px, 15px); display:block; float:left; width:100%; padding:0px 15px; font-family:$monaco; white-space:pre;}
            }
          }
        }
      }
    }
  }

  //
  // disable all displays by default
  .logs-panel                   {.description {@include transition(); display:none; opacity:0;}}
  table.log-display             {
    thead                       {
      // streaming/historic
      .input.filter             {display:none;}

      // streaming/builds
      #follow-log               {display:none;}

      // historic
      #view-more                {display:none;}
    }

    tbody                       {
      // streaming/histroical
      .entries                  {display:none;}
    }
  }

  // when live logs; turn on live log displays
  &.live                         {
    .logs-panel                  {.toggle.live {@extend .checked;}}
    .description.live            {display:inline-block; opacity:1;}
    table.log-display            {
      thead                      {.input.filter {display:inline-block;} #follow-log {display:inline-block;}}
      tbody                      {.entries{display:inline-block;}}
    }
  }

  // when historic logs; turn on historic log displays
  &.historic                     {
    .logs-panel                  {.toggle.historic {@extend .checked;}}
    .description.historic        {display:inline-block; opacity:1;}
    table.log-display            {
      thead                      {.input.filter {display:inline-block;} #view-more {display:inline-block;}}
      tbody                      {.entries{display:inline-block;}}
    }
  }
}
