#apps-logs.historic                 {
  table.log-panel                   {
    thead                           {
      #view-more                    {
        &:after                     { content: 'View More'; }
        &.loading                   { color:$dashboard_14; pointer-events:none;
          &:after                   { content: 'Loading...'; }
        }
        &.no-historic               { display:none; }
      }
    }
    tbody                           { }
    tfoot                           { }
  }
}
