//-
.nanobox-dash-ui-logs

  //- 
  table.log-display(class = "live")
  
    //- 
    thead
    
      //- toggle between logs
      tr.logs-panel
        td.placeholder
        td.shadow-parent
          .toggle.live(data-toggle = "live")
            img.shadow-icon(data-src = "live")
            .label.live Live Stream
          .toggle.historic(data-toggle = "historic")
            img.shadow-icon(data-src = "historical")
            .label.historic Historical
          p.description.live Application logs such as stdout, stderr, etc., emitted from your application; The primary source for troubleshooting your application.
          p.description.historic A historic representation of the streaming log. Anything not seen during a stream can be found here.
          
      //- filter, follow, and view more logs
      tr.log-panel
        td.placeholder
        td.shadow-parent
          //- 
            #filter-logs.input
              img.shadow-icon(data-src = "log-magnify")
              input(placeholder = "Filter logs")
          #follow-logs.locked
            img.shadow-icon(data-src = "log-eye")
          #view-more-logs

    //- 
    tbody
      tr
        td
          .entries
            //- added via javascript

        //-
        td
          #status
          pre.messages.selectable
            //- added via javascript
