//- img.shadow-icon(data-src = "log-eye")

//- img.shadow-icon(data-src = "log-x")


//-
#app-logs(class = "live")
  //- .quickdoc_toggle(data: (quickdoc: "app_logs", heading: "App Logs"))
      
  //-
  table.log-display.live
  
    //- 
    thead
    
      //- 
      tr.logs-panel
        td.placeholder
        td.shadow-parent
          .radio.radio-bottom.toggle.live(data-toggle = "live")
            .icon
              img.shadow-icon(data-src = "live")
            .label.live Live Stream
          .radio.radio-bottom.toggle.historic(data-toggle = "historic")
            .icon
              img.shadow-icon(data-src = "historical")
            .label.historic Historical

          p.description.live Application logs such as stdout, stderr, etc., emitted from your application; The primary source for troubleshooting your application.
          p.description.historic A historic representation of the streaming log. Anything not seen during a stream can be found here.
          
      //- 
      tr.log-panel
        td.placeholder
        td
          
          //- streaming/historic
            .input.filter.shadow-parent
              img.shadow-icon(data-src = "log-magnify")
              input(placeholder = "Filter logs")

          //- streaming/build
          #follow-log.locked

          //- historic; value handled via javascript
          #view-more

    //- 
    tbody
      tr
        td
          .entries
            //- added via javascript

        //-
        td
          #status
          pre.messages.selectable
            //- added via javascript
