//-
.nanobox-dash-ui-logs

  //- 
  .log-display(class = "live")
  
    //- toggle between logs
    .logs-panel

      //- 
      .toggles
        .toggle.input.radio_buttons(data-toggle="live")
          label(for="log-live")
            img.shadow-icon(data-src="live")
            span Live Stream
          input(type="radio", name="log", id="log-live", value="live", checked="checked")
        .toggle.input.radio_buttons(data-toggle="historic")
          label(for="log-historic")
            img.shadow-icon(data-src="historical")
            span Historical
          input(type="radio", name="log", id="log-historic", value="historic")
      
      //- 
      .descriptions
        p.description.live Application logs such as stdout, stderr, etc., emitted from your application; The primary source for troubleshooting your application.
        p.description.historic A historic representation of the streaming log. Anything not seen during a stream can be found here.

    //- 
    .log-output
      
      //- filter, follow, and view more logs
      .controls
        //- 
          #filter-logs.input
            img.shadow-icon(data-src = "log-magnify")
            input(placeholder = "Filter logs")
        #follow-logs.locked
          img.shadow-icon(data-src="log-eye")
        #view-more-logs
      
      //- both entries and messages are added via javascript
      .output
        .entries
        .messages.selectable
