//- Note, inline styles are a bad idea. Using them here for simplicity's sake only :-)
.example(style="background:#aafcff; border:1px dashed #009eda; padding:20px; margin:20px; ")
  p I am a jade template instantiated by the main application. (See template at: <i>app/jade/example.jade</i>)
  p
    b Message : #{message}
  p
    i=source
